.conteiner-grafico{
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 600px;
    transition: all .5s;
}

.conteiner-grafico.mudar-grafico{
    margin-left: 51px;
    width: calc(100% - 51px);

}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--quint-color);
}


/*Define a cor da barra de rolagem*/

::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
}