@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--quart-color);
    margin: 0;
    padding: 0;
}








.fa-bars{
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 20px 10px;
}

.caixa_menu nav{
    background-color: var(--quint-color);
    color: white;
    width: 300px;
    height: 100vh;
    float: left;
    transition: all .5s;
    text-align: left;
  

}



.caixa_menu nav ul{
    list-style: none;
    width: 100%;
    padding: 0;
    

}

.caixa_menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 10.5px;
    letter-spacing: 1px;
    font: 25px Verdana, sans-serif;
    transition: all .5s;

   
}


.caixa_menu ul li a:hover{
    background-color: #4360b5;
}




.caixa_nav.muda01{
    width: 51px;
    text-align: center;
}

.local-menu.muda02{
    display: none;
}
.redes{
    width: 15%;
    height: auto;
    float: right;
    margin-top: 37%;
}
.social{
    margin: 5%;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    color: black;
    background-color:white;
    cursor: pointer;
   
   
}

.social:hover{

opacity: 0.6;
  
}


.div-logo{
    width: calc(100% - 300px);
    height: 70px;
    background-color: white;
    float: left;
   
    transition: all .5s;
 
}

.div-logo.muda03{
    width: calc(100% - 51px);
}

label.sieg {
    color: var(--primary-color);
    /*Negrito*/
    font-weight: bold;
    /*Tamanho da fonte*/
    font-size: 37px;
    /*controla o espaçamento entre as linhas*/
    line-height: 70px;
    margin-left: 5%;
    font-family: fonte;
    


}


@media (max-width: 858px) {
    label.sieg {
        font-size: 14px;
    }

    .social{
        margin: 3%;
        padding: 4px;
    }


}

@media(max-width: 600px) {

    .caixa_menu nav{
        position: absolute;
        width: 100%;
    }

    .caixa_nav.muda01{
        position: relative;
        width: auto;
        text-align: center;
    }

    
}

